**/target/**

.idea/**

# Default ignored files
/shelf/

# Datasource local storage ignored files
/../../../../../../../:\Users\S\Downloads\diplomski-back\university-registration-management-tool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
